In [1]:
# import libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [2]:
_headers = ['buying', 'maint','doors','persons','lug_boot', 'saftey', 'car']

df = pd.read_csv('../datasets/car.data',names=_headers, index_col=None)

In [3]:
df.head()

  buying  maint doors persons lug_boot saftey    car
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc

In [10]:
# encode categorical variables
_df = pd.get_dummies(df, columns=['buying', 'maint','doors','persons','lug_boot', 'saftey'])

_df.head()

,car,buying_high,buying_low,buying_med,buying_vhigh,maint_high,maint_low,maint_med,maint_vhigh,doors_2,...,doors_5more,persons_2,persons_4,persons_more,lug_boot_big,lug_boot_med,lug_boot_small,saftey_high,saftey_low,saftey_med
0,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,0,1,0
1,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,0,0,1
2,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,0,1,1,0,0
3,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,1,0,0,1,0
4,unacc,0,0,0,1,0,0,0,1,1,...,0,1,0,0,0,1,0,0,0,1

In [11]:
# split data into training and validation datasets
features = _df.drop('car', axis=1).values
labels = _df['car'].values

In [12]:
X_train, X_eval, y_train, y_eval = train_test_split(
    features,
    labels,
    test_size=0.3,
    random_state=0
)

X_val, X_test, y_val, y_test = train_test_split(
    X_eval,
    y_eval,
    test_size=0.5,
    random_state=0
)

In [13]:
# train a Logistics regression model
model = LogisticRegression()
model.fit(X_train, y_train)

LogisticRegression()

In [14]:
y_pred = model.predict(X_val)

In [16]:
from sklearn.metrics import confusion_matrix

confusion_matrix(y_val, y_pred)

array([[ 41,   1,   9,   0],
       [  7,   2,   0,   1],
       [  7,   0, 178,   0],
       [  1,   0,   0,  12]], dtype=int64)